<section class='projects'>
  <div class='container'>
    <div class='projects__info'>
      <div class='projects__picture-box jsActivateAnimation' data-animation='fadeInUpBig'>
        <img
          width='801'
          height='913'
          src='https://mitrax.com.ua/wp-content/uploads/2020/05/0_-5.jpg'
          class='projects__picture-img attachment-full size-full'
          alt=''
          loading='lazy'
          srcset='
          https://mitrax.com.ua/wp-content/uploads/2020/05/0_-5.jpg         801w,
          https://mitrax.com.ua/wp-content/uploads/2020/05/0_-5-263x300.jpg 263w,
          https://mitrax.com.ua/wp-content/uploads/2020/05/0_-5-768x875.jpg 768w
        '
          sizes='(max-width: 801px) 100vw, 801px'
        />
      </div>

      <ul class='projects__list'>
        <h2 class='projects__title jsActivateAnimation' data-animation='fadeInUp'> Проекти </h2>
        <p class='projects__text'>
          Наша результативність визначає вибір і довіру клієнтів
        </p>

        <li class='projects__item'>
          <a
            href='https://mitrax.com.ua/uk/projects/bitva-dvoh-zakoniv-yak-bezbolisno-pereuklasti-dogovir-orendi-derzhmajna-pri-zmini-zakonodavstva/'
            class='projects__item-link'
          >
            <img src='{{list}}' alt='list' class='projects__img-list' />
            <h4 class='projects__item-title'>
              Битва двох законів: як безболісно переукласти договір оренди держмайна при зміні
              законодавства
            </h4>
            <img src='{{arrow}}' alt='arrow' class='projects__img-arrow' />
          </a>
        </li>
        <li class='projects__item'>
          <a
            href='https://mitrax.com.ua/uk/projects/yak-zahistiti-pravo-ditini-na-koristuvannya-zhitlom-yakshho-zakon-ne-na-vashomu-boczi/'
            class='projects__item-link'
          >
            <img src='{{list}}' alt='list' class='projects__img-list' />

            <h4 class='projects__item-title'>Як захистити право дитини на користування житлом, якщо
              закон не на вашому боці</h4>

            <img src='{{arrow}}' alt='arrow' class='projects__img-arrow' />
          </a>
        </li>
        <li class='projects__item'>
          <a
            href='https://mitrax.com.ua/uk/projects/spir-z-minoboroni-yak-uniknuti-shtrafnih-sankczij-u-25-mln-grn-za-dogovorom-budivelnogo-pidryadu/'
            class='projects__item-link'
          >
            <img src='{{list}}' alt='list' class='projects__img-list' />

            <h4 class='projects__item-title'>
              Спір з Міноборони: як уникнути штрафних санкцій у 2,5 млн грн за договором
              будівельного підряду
            </h4>
            <img src='{{arrow}}' alt='arrow' class='projects__img-arrow' />
          </a>
        </li>

        <a href='{{HOST}}business-solutions/{{lang}}' class='btn-default'>Усі проекти</a>
      </ul>
    </div>
  </div>
</section>