<nav class='navigation'>
  <div class='navigation__container container'>
    <div class='navigation__logo'>
      <a href='/{{lang}}/'><img
          class='navigation__logo-img'
          src='{{logo}}'
          alt='Global Barristers'
        /></a>
    </div>
    <div class='menu'>
      <ul id='menu-{{lang}}' class='menu__list'>
        <li class='menu__item'>
          <a href='/about-us/{{lang}}/'>Про нас</a>
        </li>
        <li class='menu__item'>
          <a href='/our-team/{{lang}}/'>Наша команда</a>
        </li>
        <li class='menu__item'>
          <a href='/practices/{{lang}}/'>Галузі</a>
          <ul class='sub-menu'>
            <li class='menu__item sub-menu__item'>
              <a href='/practices/criminal-law/{{lang}}/'> Кримінальне Право </a>
            </li>
            <li class='menu__item sub-menu__item'>
              <a href='/practices/economic-law/{{lang}}/'> Господарське Право </a>
            </li>
            <li class='menu__item sub-menu__item'>
              <a href='/practices/family-law/{{lang}}/'> Сімейне Право </a>
            </li>
            <li class='menu__item sub-menu__item'>
              <a href='/practices/tax-_law/{{lang}}/'> Податкове Право </a>
            </li>
            <li class='menu__item sub-menu__item'>
              <a href='/practices/civil-law/{{lang}}/'> Цивільне Право </a>
            </li>
            <li class='menu__item sub-menu__item'>
              <a href='/practices/customs-law/{{lang}}/'> Митне Право </a>
            </li>
            <li class='menu__item sub-menu__item'>
              <a href='/practices/immigration-legislation/{{lang}}/'>
                Імміграційне Законодавство
              </a>
            </li>
            <li class='menu__item sub-menu__item'>
              <a href='/practices/banking-disputes/{{lang}}/'> Спори з банком </a>
            </li>
            <li class='menu__item sub-menu__item'>
              <a href='/practices/auto-law/{{lang}}/'> Автомобільне Право </a>
            </li>
          </ul>
        </li>
        <li class='menu__item'>
          <a href='/towns/{{lang}}'>Міста</a>
        </li>
        <li class='menu__item'>
          <a href='/business-solutions/{{lang}}'>Бізнес рішення</a>
        </li>
        <li class='menu__item'>
          <a href='/towns/{{lang}}'>Партнери</a>
        </li>
        <li class='menu__item'>
          <a href='/contacts/kyiv/{{lang}}'>Контакти</a>
          <ul class='sub-menu'>
            <li class='menu__item sub-menu__item'>
              <a href='/contacts/kyiv/{{lang}}'>Офіс в Києві</a>
            </li>
            <li class='menu__item sub-menu__item'>
              <a href='/contacts/kharkiv/{{lang}}'>Офіс в Харкові</a>
            </li>
            <li class='menu__item sub-menu__item'>
              <a href='/contacts/odessa/{{lang}}'>Офіс в Одессі</a>
            </li>
            <li class='menu__item sub-menu__item'>
              <a href='/contacts/dnipro/{{lang}}'>Офіс в Дніпрі</a>
            </li>
            <li class='menu__item sub-menu__item'>
              <a href='/contacts/zaporizhzhia/{{lang}}'>Офіс в Запоріжжі</a>
            </li>
            <li class='menu__item sub-menu__item'>
              <a href='/contacts/kryviy-rih/{{lang}}'>Офіс в Кривому Розі</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class='menu__button'>
      <a class='menu__button-link consult-btn' href='#'>Замовити консультацію</a>
    </div>
  </div>
</nav>